NEXT_PUBLIC_SUPABASE_URL=https://wfndtpyrpdulqulvlnuq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndmbmR0cHlycGR1bHF1bHZsbnVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwMzAxNzcsImV4cCI6MjA5MTYwNjE3N30.lm9pEtG7Ko9Vi43Dam5STAbI1ft3wMcinLntyn_BcTc
