# dependencies
node_modules/
.pnp
.pnp.js

# environment variables — never commit these
.env
.env.local
.env.*.local
.env.production

# Next.js build output
.next/
out/

# production build
build/
dist/

# misc
.DS_Store
*.pem
Thumbs.db

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
